/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f6fb;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px 0;
}
/* Contact */
.contact{
  margin-bottom: 20px;
}
.contact p a{
  color: black;
  margin: 20px ;
  
}

/* Main Container */
.container {
  width: 90%;
  max-width: 1000px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
  background-color: #1e3a8a;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

header h1 span {
  color: #60a5fa;
}

header .title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

/* Layout: Sidebar + Content */
main {
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar */
.sidebar {
  flex: 1;
  min-width: 250px;
  max-width: 320px;
  background: #f1f5f9;
  padding: 2rem;
  border-right: 2px solid #e2e8f0;
}

.sidebar h2 {
  color: #1e3a8a;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #60a5fa;
  display: inline-block;
  padding-bottom: 3px;
}

.sidebar a {
  color: #2563eb;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.skills ul {
   margin: 30px;
  list-style: none;
  margin-top: 0.5rem;
}

.skills li {
  background: #e0f2fe;
  color: #1e3a8a;
  padding: 6px 10px;
  border-radius: 6px;
  display: inline-block;
  margin: 4px 3px;
  font-size: 0.9rem;
}

.education p {
   margin: 30px;
  font-size: 0.95rem;
  line-height: 1.5;
}
.Language ul {
   margin: 30px;
  list-style: none;
  margin-top: 0.5rem;
}

.Language li {
  background: #e0f2fe;
  color: #1e3a8a;
  padding: 6px 10px;
  border-radius: 6px;
  display: inline-block;
  margin: 4px 3px;
  font-size: 0.9rem;
}


/* Main Content */
.content {
  flex: 2;
  min-width: 400px;
  padding: 2rem;
}

.content h2 {
  color: #1e3a8a;
  border-left: 4px solid #60a5fa;
  padding-left: 10px;
  margin-bottom: 10px;
}

.content p {
  margin: 30px;
  color: #444;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.6;
}

/* Project Section */
.projects {
  margin-top: 1.5rem;
}

.projects h3 {
  color:  #1e3a8a;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.projects p {
  font-size: 0.9rem;
   margin: 30px;
  color: #555;
  margin-bottom: 1rem;
  padding-left: 10px;
  border-left: 2px solid #e5e7eb;
}

/* Work Experience */
.work p {
  font-size: 0.95rem;
  color: #555;
   margin: 30px;
}

/* Responsive (Mobile) */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .sidebar {
    border-right: none;
    border-bottom: 2px solid #e2e8f0;
  }

  header h1 {
    font-size: 2rem;
  }

  .content {
    padding: 1.5rem;
  }
}
